/* herder的开始 */
#header{
    height: 600px;
    background: url(../img/banner.jpg) no-repeat center center;
}
/* herder的结束 */
/* new的开始 */
#new{
    height: 300px;
}
#new .sale{
    background:url(../img/bg1.jpg) no-repeat;
    height: 210px;
    width: 366px;
    float: left;
    margin-top: 50px;
}
#new .launch{
    background: url(../img/bg2.jpg) no-repeat;
    height: 210px;
    width: 366px;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
}
#new .imported{
    background: url(../img/bg3.jpg) no-repeat;
    height: 210px;
    width: 366px;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
}
#new .wrapper h4{
    color: #fff;
    font-size: 35px;
    height: 38px;
    width: 144px;
    margin-top: 130px;
    margin-left: 200px;
}
/* new的结束 */
/* cosmetics的开始 */
#cosmetics{
    height: 1000px;   
}
#cosmetics .sample{
    border: 1px solid #E7E7E7;
    width: 340px; 
    height: 430px;
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    
}
#cosmetics .sample img{
    width: 250px;
    height: 250px;
    border: 1px solid #E7E7E7;
}
#cosmetics .product{
    float: right;
    width: 52px;
    height: 30px;
    background: #fa558f;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.sample p{
    font-size: 20px;
    margin-left: 20px;
}
.sample h2{
    margin-left: 20px;
    margin-top: 15px;
}
.sample .box{
    margin-left: 20px;
    width: 158px;
    height: 20px;
    text-indent: 10px;
    margin-top: 10px;
    outline: none;
}
.sample .add{
    border-radius: 10px;
    background: #FF9000;
    color: #fff;
    width: 140px;
    height: 42px;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}
.sample .add:hover {
    background:orange;
}
/* cosmetics的结束 */
/* fotter的开始 */

#flow{
    background: url(../img/banner2.jpg) no-repeat;
    background-size: cover;
    width: 1349px;
    height: 395px;
    margin-top: 30px;
}
#fotter ul{
    float: left;
    margin-left: 100px;
    margin-top: 60px;
}
#fotter li{
    margin-top: 10px;
    list-style: circle;
}
#fotter ul .sale{
    color: #fff;
}
#fotter ul a{
    color: #ccc;
}
#fotter ul a:hover{
    text-decoration: underline;
}
/* fotter的结束 */
/* footer的开始 */
#footer{
    width: 1349px;
    height: 82px;
    background: #fa558f;
    overflow: hidden;
}
#me a{
    color: #fff;
    display: block;
    margin-top: 25px;
    font-size: 25px;
}
#girl p{
    color: #fff;
    float: right;
    margin-bottom: 40px;
}
/* footer的结束 */




