<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<!-- Body标记带有ngController参数  -->
<body ng-controller="MyController">
    <input ng-model="foo" value="bar">
    <!-- Button标记带有ng-click指令，字符串表达式'buttonText'被包裹在""中 -->
    <button ng-click="changeFoo()"></button>
    <script>
        
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</body>
</html>